#Logs
FILE_LOG_LEVEL=DEBUG
TERMINAL_LOG_LEVEL=WARNING

CHECK_NVIDIA_GPU=0

# Ollama
MODEL=qwen2.5:14b
OLLAMA_URL=http://localhost:11434
LLM_TIMEOUT=120

# OpenAI
OPENAI_API_KEY=

#Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=therapy_db
DB_USER=postgres
DB_PASSWORD=password

DEFAULT_PATIENT_ID=1